.summary {
  &__card {
    padding: 40px 24px;
    border-radius: 24px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 1px 32px #aeacf359;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-main {
      border-bottom: #d7dbf5 1px solid;
      padding-bottom: 20px;
    }

    &-message {
      color: #141938;
      font-weight: 900;
      font-size: 10px;
      margin-bottom: 8px;
    }

    &-user {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-name {
      color: #141938;
      font-size: 20px;
      font-weight: 900;
    }

    &-block {
      margin: 16px 0 0;

      &-title {
        color: #141938;
        font-size: 16px;
        font-weight: 700;
      }

      &-detail {
        color: #141938;
        font-size: 14px;
        font-weight: 400;
        margin: 8px 0;
      }
    }
  }
}
