.button {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  padding: 18px 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.5s ease;
  z-index: 0;
  overflow: hidden;
  @media (min-width: 1024px) {
    width: fit-content;
  }
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}

.button:hover::before {
  transform: scale(1.5);
}

.button--black {
  background-color: #03050f;
  color: #ffffff;

  &::before {
    background-color: #ffffff;
  }

  &:hover {
    color: #03050f;
  }
}

.button--red {
  background-color: #ff1c44;
  color: #ffffff;
  border: red 1px solid;

  &::before {
    background-color: #ffffff;
  }

  &:hover {
    color: #ff1c44;
    border-color: #ff1c44;
  }
}
