.hero {
  @media (min-width: 1024px) {
    padding: 30px 0;
  }

  &__left {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  &__right {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-column: span 4;

    @media (min-width: 1024px) {
      grid-column: inherit;
      grid-column-start: 8;
      grid-column-end: 13;
      margin: 0;
    }
  }

  &__image {
    width: 90%;
    height: auto;

    &--desktop {
      width: 90%;
      height: auto;
    }

    &--mobile {
      border-radius: 16px;
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}

.product {
  &__container {
    display: flex;
    border-bottom: #ccd1ee 1px solid;
    padding-bottom: 24px;
    gap: 16px;
    align-items: center;

    @media (min-width: 1024px) {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    width: fit-content;
    color: #03050f;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 8px;
    border-radius: 4px;
    background: linear-gradient(80deg, #00f4e2 0%, #00ff7f 100%);
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      font-size: 14px;
      padding: 4px 8px;
    }
  }

  &__description {
    font-size: 28px;
    font-weight: 700;
    color: #03050f;

    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
}

.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__description {
    font-size: 14px;
    color: #03050f;
    font-weight: 600;
    margin-top: 24px;

    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }

  &__group {
    display: flex;
  }

  &__select {
    &-field {
      width: 120px;
      height: 56px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9999 14.8941L3.49365 8.38164L5.25616 6.61914L9.9999 11.3566L14.7437 6.61914L16.5062 8.38164L9.9999 14.8941Z' fill='%2305030F'/%3E%3C/svg%3E");
      background-position: 90% center;
      background-size: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      padding: 16px;
      color: #03050f;
      background-color: #f8f9ff;
      border-right: 0;
      border-radius: 8px 0px 0px 8px;
      outline: none;
      box-shadow: none;
      appearance: none;
      border-color: #5e6488;
    }
  }

  &__input {
    position: relative;
    width: 100%;

    &-field {
      border-radius: 8px;
      padding: 24px 16px 0;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #03050f;
      background: #f8f9ff;
      border: 1px solid #5e6488;
      width: 100%;
      height: 56px;
      outline: none;
      box-shadow: none;

      &--select {
        border-radius: 0px 8px 8px 0px;
      }

      &:focus + .form__input-label {
        transform: translateY(-7px) scale(1);
        top: 16px;
        font-size: 12px;
        color: #03050f;
      }

      &:not(:placeholder-shown) + .form__input-label {
        transform: translateY(-7px) scale(1);
        top: 16px;
        font-size: 12px;
        color: #03050f;
      }

      &--error {
        border-color: red;
      }
    }

    &-label {
      cursor: text;
      top: 18px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #5e6488;
      position: absolute;
      left: 16px;
      transition:
        transform 0.2s ease-out,
        color 0.2s ease-out;
    }
  }

  &__terms {
    color: #03050f;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;

  &__input {
    display: none;

    &:checked + .checkbox__label::before {
      content: '✓';
      background: #0a051e;
      color: white;
      font-size: 15px;
      font-family: 'Times New Roman';
    }

    &:disabled + .checkbox__label::before {
      background-color: #f7f7f7;
      cursor: default;
    }
  }

  &__label {
    cursor: pointer;

    &::before {
      margin-right: 8px;
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    color: #0a051e;
    font-size: 14px;
    font-weight: 400;
  }
}

.button {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  background-color: #03050f;
  outline: none;
  padding: 18px 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.5s ease;
  z-index: 0;
  overflow: hidden;

  @media (min-width: 1024px) {
    width: fit-content;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: -1;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
  }

  &:hover {
    color: #03050f;

    &::before {
      transform: scale(1.5);
    }
  }
}
