.header {
  &__content {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
  }

  &__right {
    align-items: center;
    display: flex;
  }

  &__left {
    align-items: center;
    display: flex;
  }

  &__text {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      padding-right: 1rem;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    color: var(--grey-100);
    font-weight: 700;

    &-icon {
      margin-right: 4px;
    }

    &-number {
      font-size: 14px;
    }
  }
}
