* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --grey-100: #03050f;
  --grey-0: #ffffff;

  --neutrals-700: #141938;
  --neutrals-600: #7981b2;

  --blue-berry-600: #4f4fff;

  --success: #389e0d;
}
